* {
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
    display: flex;
}

.sidebar {
    width: 20vw;
    border-right: 0.5px solid black;
    height: 100vw;
    overflow: none;
}


#brand-logo {
    width: 10vw;
    max-width: 500px;
    padding: 5px;
    margin: 10px 5px 10px 5px;
    box-sizing: border-box;
    justify-self: left;
}

.sidebar-items {
     /* Keeps content centered vertically */
    align-items: center;
    flex-direction: column;
}

.fa-sharp {
    margin-left: 20px;
    align-items: center;
    margin-bottom: 20px;

}

.sidebar-text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    padding-left: 40px;
}

.main {
    width: 80vw;
    height: 100vw;
    overflow: scroll;
    display: flex;
}

.stories {

}

.cards {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}