* {
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
    display: flex;
}

.sidebar {
    width: 20vw;
    border-right: 0.5px solid black;
    height: 100vw;
    overflow: none;
    /*display: flex;*/
}

.stories {
    width: 80vw;
    height: 100vw;
    overflow: scroll;
    display: flex;
}

#brand-logo {
    width: 10vw;
    max-width: 500px;
    padding: 5px;
    margin: 10px 5px 10px 5px;
    box-sizing: border-box;
    justify-self: left;
}