* {
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
    display: flex;
}

.sidebar {
    width: 20vw;
    border-right: 0.5px solid black;
    height: 100vw;
    overflow: auto;
}


#brand-logo {
    width: 10vw;
    max-width: 500px;
    padding: 5px;
    margin: 10px 5px 10px 5px;
    box-sizing: border-box;
    justify-self: left;
}

.sidebar-items {
     /* Keeps content centered vertically */
    align-items: center;
    flex-direction: column;
}

.fa-sharp {
    margin-left: 20px;
    align-items: center;
    margin-bottom: 20px;

}

.sidebar-text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    padding-left: 40px;
}

.main {
    width: 80vw;
    height: 100vh;
    overflow-x: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 450px;
    min-height: 140px;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: 1px 10px 10px 1px grey;
}

.story {
    display: inline-block;
    text-align: center;
    padding-right: 10px;
}

.story > p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

.story > img {
    width: 70px;
    height: 70px;
    border-radius: 70%;
}

.scroll-arrow {
    position:absolute;
    top: 30px;
    right: 350px;
    background-color: rgb(171, 179, 187);
    color: black;
    font-weight: bolder;
    font-size: 50px;
    opacity: 80%;
    border-radius: 50px;
}

.card-author {
    display:flex;
    line-height: 70px;
}
.card-author > img {
    max-height: 70px;
    width: 70px;
    border-radius: 70%;
}

.card-author > p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 70px;
    align-items: center;
    padding-left: 10px;
}

.cards {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.card > img {
    max-width: 450px;
    box-shadow: 1px 10px 10px 1px grey;

}

.card-icons {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.card-comments {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    padding-bottom: 20px;
}